*
{
    margin: 0;
    padding: 0;
}

.flex-container
{
    width: 70%;
    height: 200px;
    display: flex;
    background-color: grey;
    margin: auto;    
    margin-top: 30px;
    justify-content: center;  /**/
    justify-content: flex-start; /*propiedad por defecto manda el texto al inicio*/
    justify-content: flex-end;   /*envia al final del contenedor*/
    justify-content: space-between;  /* ubica los elementos separados con la misma distancia entre si*/
    justify-content: space-around;  /*simil sangria entre primero y ultimo*/  
    align-items: flex-start;    /* trae los elementos al centro*/
    align-items: flex-end;/* me los tiro abajo del contenedor (div)*/
    align-items: center;


}
    

.flex-container > div
{
    background-color: white;
    width: 50px;
    height: 50px;
    color: black;
    text-align: center;
    margin-top: 10px;

}
#dos,#siete   /*el selector id pisa a los otros selectores*/
{
    background-image: linear-gradient(lightblue,violet);
    align-self: flex-start; /* propia alineacion*/
}

#tres,#nueve
{
  background-image: linear-gradient(lightblue, blue);
  align-self: flex-end;

}